{% extends 'base.html.twig' %}

{% block title %}New Allergens{% endblock %}

{% block body %}
    <h1>Create new Allergens</h1>

    {{ include('allergens/_form.html.twig') }}

    <a href="{{ path('allergens_index') }}">back to list</a>
{% endblock %}
